<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MapReduceJobTracker/src/com/hdfs/JobTrackerServerImpl.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.hdfs.JobTrackerServerImpl"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="./jobtracker/jobTrackerConfig"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MapReduceJobTracker"/>
</launchConfiguration>
