<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MapReduceTaskTracker1/src/com/hdfs/TaskTrackerServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.hdfs.TaskTrackerServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="./tasktracker/taskTrackerConfig"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MapReduceTaskTracker1"/>
</launchConfiguration>
